#headers{
    float: left;
    width: 120px;
    margin: 30px;
}
#abc{
    font-size: 150px;
    color: white;
    background-color: black;
    text-align: center;
}
.clear{
    overflow: auto;
}
#asd{
    text-align: center;
    font-size: 20px;
    letter-spacing: 2px;
    word-spacing: 5px;
    border: black 2px solid;
    margin: 4px;
}
#ert{
    width: 500px;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    
    
}
#bnm{
    border: solid 3px gray;
    margin: 4px;
    text-align: center;
    
    
    
}
